{% load static %}
{% include "menu/includes/urls.html" %}

<html lang="es-ar">

<body style="background-color:#BACDCD;">

    <div class="wrapper">

        {% include "menu/includes/navbar.html" %}
        
        <div id="container" class="content-wrapper">

            <div class="d-flex justify-content-center">
                <img src="{% static 'images/tolist_image.jpg' %}" style="max-width:45%; margin-top:100px; filter: blur(0.1rem); border-radius: 5px;">
            </div>
        
        </div>

        <div id="loading" class="loading" >Loading&#8230;</div>

    </div>
    
</body>
</html>

<script>

    //Redireccionamiento
    function getPage(url)
    {window.location.href
    $( "#container" ).load( url );
    }
    
    //Mensajes login
    {% for m in messages %}

        toastr.success('{{ m }}', ' ', {timeOut: 1500})

    {% endfor %}

    //Spinner
    $(document).ajaxStart(function() {
        $('#loading').show();
    });
    
    $(document).ajaxComplete(function(event,request, settings) {
        $('#loading').hide();
    });

    $('#loading').hide();

</script>

