{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'tolist:index' %}">Inicio</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" onclick="getPage('{% url 'tolist:tareas_main' %}')">Tareas</a>
        </li>
      </ul>
      <div class="sidebar-custom">
        <a href="{% url 'tolist:logout' %}" style="  font-size: 14px;
        padding: 6px 12px;" class="btn btn-secondary">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>